@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://use.typekit.net/vhg7llf.css');

:root {
  --primary-dark: rgb(37, 37, 38);
  --bg-dark: rgba(27, 27, 27, 0.27);
  --nav: rgba(226, 225, 225, 0.8);
  --primary-light: rgb(226, 225, 225);
  --bg-light: rgba(227, 227, 227, 0.27);
  --green: rgb(106, 153, 86);
  --blue: rgb(155, 220, 254);
  --alt-blue: rgb(87, 156, 214);
  --yellow: rgb(215, 186, 125);
  --orange: rgb(206, 145, 120);

  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Roboto Mono', monospace;
}

.dark {
  --primary-dark: rgb(226, 225, 225);
  --bg-dark: rgba(227, 227, 227, 0.27);
  --primary-light: rgb(37, 37, 38);
  --nav: rgba(37, 37, 38, 0.8);
  --bg-light: rgba(27, 27, 27, 0.27);
  /* transform: scale(10); */
}

html {
  scroll-behavior: smooth;
}

/*** Global in addition to reset.css ***/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.4;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  transition: all 0.8s ease-in-out;
}

h1 {
  font-family: var(--ff-secondary);
  font-size: 2.3em;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
}

/*** header + nav ***/
header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 2rem;
  background-color: var(--bg-dark);
  box-shadow: rgba(0, 0, 0, 0.35) 0.95px 4.95px 7.6px;
}

header nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  z-index: 10;
}

.fixed-nav {
  position: fixed;
  top: 0;
  background-color: var(--nav);
  box-shadow: rgba(0, 0, 0, 0.35) 0.95px 4.95px 7.6px;
}

.fixed-nav a,
.fixed-nav p,
.fixed-nav .contrast {
  color: var(--primary-dark);
  cursor: pointer;
}

.nav-link {
  color: var(--primary-light);
}

.nav-link {
  position: relative;
  margin-left: 1rem;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.pop-up .bio-card a:hover,
.pop-up .bio-card a:focus,
.pop-up .bio-card a:active {
  color: var(--orange);
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:active::before {
  visibility: visible;
  transform: scaleX(1);
}

header nav .nav-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .nav-work img {
  width: 2rem;
}

header .contrast {
  color: var(--primary-light);
  transition: transform 330ms ease-in-out;
  cursor: pointer;
}

header .logo,
footer .footer-logo {
  padding: 2rem;
  font-family: Calibri;
  font-size: 5em;
  transition: 0.2s cubic-bezier(0, 1.06, 1, -0.02);
  z-index: 0;
}

header .logo .yon,
footer .footer-logo .footer-yon {
  color: var(--yellow);
  transition: 0.8s ease-in-out;
}

header .logo .dav,
footer .footer-logo .footer-dav {
  color: var(--blue);
  transition: 0.8s ease-in-out;
}

/* all buttons */
.btn {
  padding: 0.5rem;
  text-transform: lowercase;
  color: var(--primary-light);
  border: 1px solid var(--primary-light);
  border-radius: 5px;
  cursor: pointer;
  transition: 330ms ease-in-out;
}

.btn .fa-chevron-right {
  margin-left: 0.3rem;
}

.btn:hover,
.btn:focus,
.btn:active {
  border-radius: 20px;
  background-color: rgba(27, 27, 27, 0.8);
  box-shadow: 0px 5px var(--bg-light);
}

.btn:active {
  border-radius: 20px;
  box-shadow: inset 0px 5px var(--bg-light);
}

/* pop-up page triggered by about button */
.pop-up {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  transform: translateY(-100%);
  overflow-y: scroll;
  z-index: 11;
}

.pop-up .pop-nav {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  z-index: 10;
}

.pop-up .close {
  color: var(--orange);
  cursor: pointer;
}

.pop-up .back {
  color: var(--alt-blue);
  cursor: pointer;
}

.pop-up .close,
.pop-up .back {
  margin: 0 0.3rem;
}

.pop-up .bio-card,
.pop-up .contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 100vh;
  padding: 1rem 0;
}

.pop-up .bio-card {
  opacity: 0%;
  transition: all 0.8s ease-in-out;
  transition-delay: 1.5s;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0.95px 4.95px 7.6px;
}

.pop-up .headshot {
  width: 65%;
  margin-top: 4rem;
  background-color: var(--green);
  border: 0.3rem solid var(--primary-light);
  border-radius: 50%;
}

.underline {
  width: 43vw;
  height: 0.3rem;
  background-color: var(--orange);
}

.pop-up h4 {
  font-size: 0.95em;
  font-style: italic;
  text-align: center;
}

.pop-up .bio-card .bio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.pop-up .bio-card a {
  font-style: italic;
  color: currentColor;
  text-decoration: none;
}

.pop-up .btn {
  color: var(--primary-light);
  border-color: var(--primary-light);
}

.pop-up .btn:hover,
.pop-up .btn:focus,
.pop-up .btn:active {
  box-shadow: 0px 5px var(--bg-light);
}

.pop-up .btn:active {
  box-shadow: inset 0px 5px var(--bg-light);
}

.pop-up .contact-card {
  position: absolute;
  transform: translateX(-150%);
  box-shadow: rgba(0, 0, 0, 0.35) 0.95px 4.95px 7.6px;
}

.pop-up .contact-card .contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-up .contact-card .lets-chat {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 2rem 2rem 0;
  text-align: center;
  white-space: nowrap;
  font-family: Calibri;
  font-size: 5em;
  transition: 0.2s cubic-bezier(0, 1.06, 1, -0.02);
  overflow: hidden;
  z-index: 0;
}

.pop-up .contact-card p {
  width: 73%;
  margin-bottom: 1.5rem;
  padding: 0.5rem 2rem 0;
  text-align: center;
}

.pop-up form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 50%;
}

.pop-up form div {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.pop-up form div input,
.pop-up form div textarea {
  padding: 0.5rem;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  border: none;
  border-radius: 5px;
}

.pop-up form ::placeholder {
  color: var(--green);
}

.pop-up form .submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 1rem 0 1.5rem;
}

.pop-up form .submit input {
  color: var(--primary-light);
  background-color: transparent;
  cursor: pointer;
}

.pop-up form .submit input:hover,
.pop-up form .submit input:focus,
.pop-up form .submit input:active {
  color: var(--yellow);
}

.pop-up .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up .social-icons img {
  width: 2.5rem;
  margin: 1rem 0.5rem;
}

/* main body */
main {
  margin: 1rem;
}

/* dev */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dev-header,
.design-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  text-align: center;
}

.dev-header h1,
.design-header h1 {
  font-size: 3em;
}

.dev-header .fun,
.design-header .fun {
  font-style: italic;
}

.app-card,
.art-card {
  margin-bottom: 4rem;
  transition: all 0.4s ease-in-out;
}

.app-card a {
  text-decoration: none;
  color: currentColor;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 22rem;
  margin: 0 auto;
  color: rgb(226, 225, 225);
  background-repeat: no-repeat;
  background-size: 22rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0.95px 4.95px 7.6px;
  cursor: pointer;
}

.thumbnail span {
  position: absolute;
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: 2.5em;
  font-weight: 700;
  opacity: 0%;
}

.thumbnail .desc-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 0;
  padding: 0.5rem;
  background-color: var(--bg-light);
  opacity: 0%;
  transition: all 2s ease;
}

.thumbnail h1 {
  width: 12rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 5em;
  /* background-color: var(--bg-dark); */
  border-radius: 5px;
}

.thumbnail h3 {
  font-size: 1.1em;
}

.other-side .thumbnail {
  background-image: url(../../images/earth-globe-img.png);
}

.coding-chops .thumbnail {
  background-image: url(../../images/coding-chops.svg);
}

.weather .thumbnail {
  background-image: url(../../images/weather.svg);
}

.work-day .thumbnail {
  background-image: url(../../images/work-day.svg);
}

/* design */
/* #design .thumbnail {
  margin: 0 2.5rem;
} */

.portraits .thumbnail {
  background-image: url(../../images/portraits/00.png);
}

.hands .thumbnail {
  background-image: url(../../images/vector-art/thumbs-up.png);
}

.pres .thumbnail {
  background-image: url(../../images/presentation-design/00.jpg);
}

.photos .thumbnail {
  background-size: cover;
  background-image: url(../../images/photo-design/00.jpeg);
}

.portrait-card,
.hands-card,
.photos-card,
.pres-card {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  transform: translateX(-100%);
  z-index: 11;
}

.portrait-close,
.hand-close,
.photo-close,
.pres-close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--orange);
  cursor: pointer;
}

.portrait-slider,
.hand-slider,
.photo-slider,
.pres-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
  transition-delay: 1.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0.95px 4.95px 7.6px;
}

.portrait-lg,
.hand-lg,
.photo-lg,
.pres-lg {
  width: 90%;
  margin: 1.5rem 0;
  background-color: var(--primary-light);
  border: 3px solid var(--primary-light);
  border-radius: 10px;
}

.back-btn,
.next-btn,
.hand-back-btn,
.hand-next-btn,
.photo-back-btn,
.photo-next-btn,
.pres-back-btn,
.pres-next-btn {
  z-index: 1000;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1.5rem;
}

footer .scroll-link {
  text-decoration: none;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

footer a .icon {
  color: var(--yellow) !important;
}

.card-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
  width: 70vw;
  font-size: 1em;
}

.card-right a {
  width: min-content;
  margin: 0;
}

.footer-social-icons {
  position: fixed;
  bottom: 1rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 9rem;
  margin-bottom: 0.5rem;
}

.footer-social-icons img {
  width: 2.5rem;
  margin-right: 0;
}

.hide {
  display: none;
}

@media only screen and (min-width: 600px) {
  header nav .nav-work {
    width: 30%;
    font-size: 1.2em;
  }

  header .fixed-nav .nav-work {
    width: 40%;
    font-size: 1.4em;
  }

  header .logo {
    font-size: 7em;
  }

  .pop-up .bio-card,
  .pop-up .contact-card {
    width: 75vw;
  }

  .pop-up .contact-card .lets-chat {
    font-size: 7em;
  }

  .apps,
  .art {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* width: 60rem; */
  }

  .thumbnail {
    width: 20rem;
    height: 20rem;
    background-size: 20rem;
  }

  .portrait-lg,
  .hand-lg,
  .photo-lg,
  .pres-lg {
    width: 75%;
  }

  .portrait-card,
  .hands-card,
  .photos-card,
  .pres-card {
    position: absolute;
  }
}

@media only screen and (min-width: 900px) {
  header nav .nav-work {
    width: 20%;
    font-size: 1.4em;
  }

  header .fixed-nav .nav-work {
    width: 30%;
    font-size: 1.4em;
  }

  header .logo {
    font-size: 12em;
  }

  .pop-up .bio-card,
  .pop-up .contact-card {
    width: 50vw;
  }

  .pop-up .contact-card .lets-chat {
    font-size: 6em;
  }

  .apps,
  .art {
    width: 60rem;
  }

  .thumbnail {
    width: 22rem;
    height: 22rem;
    background-size: 22rem;
  }

  .portrait-lg,
  .hand-lg,
  .photo-lg,
  .pres-lg {
    width: 65%;
  }
}

@media only screen and (min-width: 1200px) {
  header nav .nav-work {
    width: 20%;
  }

  .portrait-lg,
  .hand-lg,
  .photo-lg,
  .pres-lg {
    width: 45%;
  }
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 12px;
  }

  .pop-up .bio-card,
  .pop-up .contact-card {
    justify-content: center;
    align-items: center;
  }

  .pop-up .headshot {
    width: 65%;
    margin-top: 0;
  }

  .portrait-lg,
  .hand-lg,
  .photo-lg,
  .pres-lg {
    width: 80%;
  }
}

@media only screen and (min-height:900px) {
  .pop-up .bio-card,
  .pop-up .contact-card {
    width: 80vw;
    height: 80vh;
  }

  .portrait-lg,
  .hand-lg,
  .photo-lg,
  .pres-lg {
    width: 85%;
}
