@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
  --primary-dark: #252526;
  --primary-light: #f3f3f3;
  --green: #6a9956;
  --blue: #9bdcfe;
  --alt-blue: #579cd6;
  --yellow: #d7ba7d;
  --orange: #ce9178;

  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Roboto Mono', monospace;
}

/*** Global in addition to reset.css ***/
body {
  /* padding: auto; */
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: var(--primary-light);
}

h1,
h2 {
  font-family: var(--ff-secondary);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.8rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 85%;
}

header,
section {
  padding: 3rem 0;
}

/*** class is currently only assigned to .section-title for about - #about .container .section title. Other section titles don't need to be centered now but perhaps in the future. Leaving it here with the global styles for now. ***/
.text-center {
  text-align: center;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

section a {
  text-transform: uppercase;
  color: currentColor;
}

/*** header + nav ***/
header {
  width: 100vw;
  background-color: var(--primary-dark);
}

header .logo {
  padding: 2rem;
}

.section-title {
  margin: 2rem 0;
  border-bottom: 1rem solid var(--yellow);
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav a {
  margin-top: 0.8rem;
  text-decoration: none;
  color: var(--primary-light);
}

/*** nav hovers ***/
.nav-links-a::before {
  position: absolute;
  top: 0.5rem;
  content: '';
  display: block;
  height: 0.2rem;
  width: 0%;
  background-color: var(--alt-blue);
  transition: all 0.5s ease-in-out;
}

.nav-links-b::before {
  position: absolute;
  top: 0.5rem;
  content: '';
  display: block;
  height: 0.2rem;
  width: 0%;
  background-color: var(--green);
  transition: all 0.5s ease-in-out;
}

.nav-links-c::before {
  position: absolute;
  top: 0.5rem;
  content: '';
  display: block;
  height: 0.2rem;
  width: 0%;
  background-color: var(--orange);
  transition: all 0.5s ease-in-out;
}

nav a:hover::before,
nav a:focus::before {
  width: 15%;
}

/*** little bit of styling in the title section of #about **/
.section-title p {
  margin: 0;
  font-style: italic;
}

/*** #projects ***/
.project-title {
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: right;
  border-bottom: 0.5rem solid var(--blue);
}

/*** contact form ***/
.contact-form {
  margin: 0 auto;
  width: 80vw;
}

input[type='text'],
textarea,
label,
input[type='submit'] {
  margin: 0auto;
  padding: 2vw;
  width: 80vw;
}

input[type='text'],
textarea {
  border: 1px solid var(--orange);
  border-radius: 10px;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

input::placeholder,
textarea::placeholder {
  color: var(--green);
}

input[type='submit'] {
  margin-top: 0.6rem;
  border-radius: 10px;
  background-color: var(--green);
  color: var(--primary-light);
}

input[type='submit']:active {
  transform: translateY(5px);
  box-shadow: inset 0.5rem 0.5rem 0.5rem var(--primary-dark);
}

/*** footer ***/
footer {
  background-color: var(--primary-dark);
}

footer .container .footer-logo {
  padding-top: 1rem;
  max-width: 20%;
}

.social-icons {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 20%;
}

footer .social-icons img {
  margin-top: 2rem;
  max-width: 40%;
}

footer p {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 0.2rem;
  color: var(--primary-light);
}

@media (min-width: 768px) {
  header img,
  #about img {
    margin: 0 auto;
    max-width: 50%;
  }

  .primary img {
    max-width: 60%;
  }

  .secondary-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    border-bottom: 0.5rem solid var(--blue);
  }

  .secondary {
    width: 30%;
  }

  .secondary .project-title {
    border-bottom: none;
  }
  .secondary h2 {
    font-size: 1.5rem;
  }

  .secondary p {
    font-size: 0.9rem;
  }
}
