@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

/* @font-face {
  font-family: Calibri;
  src: url(Calibri.ttf);
} */

:root {
  --primary-dark: rgb(37, 37, 38);
  --bg-dark: rgba(27, 27, 27, 0.27);
  --primary-light: rgb(226, 225, 225);
  --bg-light: rgba(227, 227, 227, 0.27);
  --green: rgb(106, 153, 86);
  --blue: rgb(155, 220, 254);
  --alt-blue: rgb(87, 156, 214);
  --yellow: rgb(215, 186, 125);
  --orange: rgb(206, 145, 120);

  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Roboto Mono', monospace;
}

.dark {
  --primary-dark: rgb(226, 225, 225);
  --bg-dark: rgba(227, 227, 227, 0.27);
  --primary-light: rgb(37, 37, 38);
  --bg-light: rgba(27, 27, 27, 0.27);
  /* transform: scale(10); */
}

/*** Global in addition to reset.css ***/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6;
  background-color: var(--primary-dark);
  scroll-behavior: smooth;
  transition: all 0.8s ease-in-out;
}

h1,
h2 {
  font-family: var(--ff-secondary);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.8rem;
}

header {
  padding: 3rem 0;
}

/*** header + nav ***/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 2rem;
  background-color: var(--bg-dark);
  box-shadow: rgba(0, 0, 0, 0.35) 0.95px 4.95px 7.6px;
}

header nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100vw;
  z-index: 10;
}

header nav a {
  position: relative;
  color: var(--primary-light);
  text-decoration: none;
}

header nav .nav-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

header nav .nav-work img {
  width: 2rem;
}

header .contrast {
  color: var(--primary-light);
  transition: transform 330ms ease-in-out;
  cursor: pointer;
}

header .logo {
  padding: 2rem;
  font-family: Calibri;
  font-size: 5em;
  transition: 0.2s cubic-bezier(0, 1.06, 1, -0.02);
  z-index: 0;
}

header .logo .yon {
  color: var(--yellow);
  transition: 0.8s ease-in-out;
}

header .logo .dav {
  color: var(--blue);
  transition: 0.8s ease-in-out;
}

/* all buttons */
.btn {
  padding: 0.5rem;
  text-transform: lowercase;
  color: var(--primary-light);
  border: 1px solid var(--primary-light);
  border-radius: 5px;
  cursor: pointer;
  transition: 330ms ease-in-out;
}

.btn .fa-chevron-right {
  margin-left: 0.3rem;
}

.btn:hover,
.btn:focus,
.btn:active {
  border-radius: 20px;
  background-color: rgba(27, 27, 27, 0.8);
  box-shadow: 0px 5px var(--bg-light);
}

.btn:active {
  border-radius: 20px;
  box-shadow: inset 0px 5px var(--bg-light);
}

/* pop-up page triggered by about button */
.pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  transform: translateY(-100%);
  overflow-y: scroll;
  z-index: 11;
}

.pop-up .pop-nav {
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
  z-index: 10;
}

.pop-up .close {
  color: var(--orange);
}

.pop-up .back {
  color: var(--alt-blue);
}

.pop-up .close,
.pop-up .back {
  margin: 0 0.3rem;
}

.pop-up .bio-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pop-up .headshot {
  width: 50%;
  background-color: var(--green);
  border: 0.3rem solid var(--primary-light);
  border-radius: 50%;
}

.pop-up .bio-card .bio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.pop-up a {
  position: relative;
  font-style: italic;
  color: currentColor;
  text-decoration: none;
}

.pop-up a:hover,
.pop-up a:focus,
.pop-up a:active,
nav a:hover,
nav a:focus,
nav a:active {
  color: var(--orange);
}

.pop-up a::before,
nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.pop-up a:hover::before,
.pop-up a:focus::before,
.pop-up a:active::before,
nav a:hover::before,
nav a:focus::before,
nav a:active::before {
  visibility: visible;
  transform: scaleX(1);
}

.pop-up .btn {
  color: var(--primary-light);
  border-color: var(--primary-light);
}

.pop-up .btn:hover,
.pop-up .btn:focus,
.pop-up .btn:active {
  box-shadow: 0px 5px var(--bg-light);
}

.pop-up .btn:active {
  box-shadow: inset 0px 5px var(--bg-light);
}

.pop-up .contact-card {
  position: absolute;
  height: 100vh;
  background-color: var(--primary-dark);
  transform: translateX(-150%);
}

.pop-up .called {
  width: 100%;
  padding: 2rem;
  text-align: center;
  white-space: nowrap;
  font-family: Calibri;
  font-size: 2.5em;
  transition: 0.2s cubic-bezier(0, 1.06, 1, -0.02);
  overflow: hidden;
  z-index: 0;
}

.pop-up form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: 100%;
}

.pop-up form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pop-up form div input,
.pop-up form div textarea {
  padding: 0.5rem;
  color: var(--primary-light);
  background-color: var(--primary-light);
  border: none;
  border-radius: 5px;
}

.pop-up form ::placeholder {
  color: var(--green);
}

.pop-up form .submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* background-color: var(--primary-dark); */
}

.pop-up form .submit input {
  color: var(--primary-light);
  background-color: transparent;
}

.pop-up form .submit input:hover,
.pop-up form .submit input:focus,
.pop-up form .submit input:active {
  color: var(--yellow);
}

.pop-up .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up .social-icons img {
  width: 3rem;
  margin: 1rem 0.5rem;
}

.slide {
  animation: slide 0.9s forwards;
  transition: transform 330ms ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-out {
  animation: slide-out 0.9s forwards;
  transition: transform 330ms ease-in-out;
}

@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100);
  }
}

.slide-side {
  animation: slide-side 0.9s forwards;
  transition: transform 330ms ease-in-out;
}

@keyframes slide-side {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-side-out {
  animation: slide-side-out 0.9s forwards;
  transition: transform 330ms ease-in-out;
}

@keyframes slide-side-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-150);
  }
}

.bounce {
  animation: bounce 0.9s forwards;
  transition: 330ms ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(0deg);
  }
  15% {
    transform: translateY(10%);
  }
  25% {
    transform: rotate(10deg);
  }
  40% {
    transform: translateY(-10%);
  }
  50% {
    transform: rotate(-10deg);
  }
  65% {
    transform: translateY(10%);
  }
  75% {
    transform: rotate(10deg);
  }
}

.hide {
  display: none;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.2em;
  }

  header .logo {
    font-size: 8em;
  }
}

@media only screen and (min-width: 992px) {
  header .logo {
    font-size: 12em;
  }
}
